// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//fonts
$font-stack: 'Red Hat Text Variable', sans-serif, Arial, Helvetica, sans-serif;

//colors
$color-primary: #8486a9;
$color-secondary: #fb6087;

$color-background-primary: #241e2c;
$color-background-secondary: #211d2b;
$color-background-tertiary: #1e1e28;

$color-card-top: #2a2a41;
$color-card-bottom: #34364f;

//media queries
$mobile: 375px;
$desktop: 1440px;