.timer-unit {
    transform-style: preserve-3d;
    z-index: -1;
  }

  .turn {
    position: relative;
    bottom: 280px;
    transform-style: preserve-3d;
    z-index: 2;
    transform: perspective(300px);
    filter: none;
  }

  .bottom {
    bottom: 140px;
    z-index: 1;
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  .turn-animation {
    animation: 0.5s cubic-bezier(0.57, 0.31, 0.84, 0.61) infinite running flip;
  }

@keyframes flip {
    from {
      transform: translate3d(0, 0, 0px) rotateX(0deg) skew(0deg);
      clip-path: polygon(
        0 51%,
        0 49%,
        0 0,
        100% 0,
        100% 49%,
        0 49%,
        0 51%,
        100% 51%,
        100% 51%,
        100% 51%
      );
    }
  
    49% {
      transform: translate3d(0, 0, 0px) rotateX(90deg) skew(5deg);
      clip-path: polygon(
        0 51%,
        0 49%,
        0 0,
        100% 0,
        100% 49%,
        0 49%,
        0 51%,
        100% 51%,
        100% 51%,
        100% 51%
      );
    }
    50% {
      transform: translate3d(0, 0, 0px) rotateX(90deg) skew(-5deg);
      clip-path: polygon(
        0 49%,
        0 49%,
        0 49%,
        100% 49%,
        100% 51%,
        0 51%,
        0 100%,
        100% 100%,
        100% 100%,
        100% 49%
      );
    }
  
    to {
      transform: translate3d(0, 0, 0px) rotateX(0deg) skew(0deg);
      clip-path: polygon(
        0 49%,
        0 49%,
        0 49%,
        100% 49%,
        100% 51%,
        0 51%,
        0 100%,
        100% 100%,
        100% 100%,
        100% 49%
      );
    }
  }